.container {
  border: 5px solid #ffcc5c;
  display: flex;
  flex-direction: row;
}

.logout {
  margin-left: auto;
}


.item1 { 
  grid-area: header;
  background-color: red;
}


.item2 { grid-area: menu;
  background-color: #ff3333}
.item3 { grid-area: main;
  background-color: #3366ff}
.item4 { grid-area: right;
  background-color: #00ffbf}
.item5 { grid-area: footer;
  background-color: #ff8000}
       

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


