.container {
  border: 5px solid #ffffff;
  display: flex;
  flex-direction: row;
}

.header {
  grid-area: header;
  background-color: #ffffff;
}

.navigation {
  grid-area: header;
  background-color: #3366ff;
}

.menu {
  grid-area: menu;
  background-color: #00bfff;
}

.right {
  grid-area: right;
  background-color: #00ffbf;
}

.footer {
  grid-area: footer;
  background-color: #1aff53;
}

.grid-container {
  display: grid;
  grid-template-areas: 
   'header header header header header header'
   'navigation navigation navigation navigation navigation navigation'
   'menu right right right right right' 'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


